.abc{
    display:flex;
    justify-content:space-between;
    
    background-color: #80857d;
   
    
    
    
}
.suive{
    
    text-align: center;
    padding-bottom: 70px;
    background-color: rgb(235, 238, 240);
    font-style: inherit;
    color: #80857d;
}
.sui{
    color: #80857d;
}
