.projet1{
    background-color: rgb(235, 238, 240);
   
    color: grey;
    
  
    padding-top: 30px;
    display: flex;
    justify-content:space-between;
    padding-right: 100px;
        
 }
 .img2{
   padding-left: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
 }
 .div1{
   
   padding-left: 5px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 50px;
    width: 50%;
 }
.h11{
    margin-top: 45px;
    font-size: 20px;
}
