.blogHeader{
    text-align: center;
    background: #fff;
    padding-top: 80px;
    padding-bottom: 10px;
    font-weight: 50;
}
.blogCategory{
    display: block;
    color: grey;
    font-style:initial;
    font-size: 30px;
    font-family:"impact";
    font-style: oblique;
    position: relative;
    
    
}


.postTitle{
    letter-spacing: 0.5px;
    text-transform:capitalize;
    font-style: italic;
    font-size: 25px;
    margin: 0;
    font-weight:100;
}

.postedBy{
    font-size: 15px;
    font-style: italic;
    padding: 10px 0;
   display: block;
    color:#0e0d0d;
}