.blogHeader120{
   display: flex;
    background-image: url('../../assets/k.jpg');
    padding-left: 200px;
    padding-top: 150px;
    padding-bottom: 150px;
    justify-content:space-between;
    padding-right: 200px;

}
.aa1{
    
float: right;;
	width:10px;
	height:300px;
    background-color:#f9fafc;
    padding-left: 100px;
    
  
    
}
.aa2{
    
    float:center;
        width:250px;
        height:300px;
        
        background-color:#f9fafc;
        text-align: center;
        background: #FFFAF0;
        transition: width 1s, height 2ms;
      
        transition: 0.3s;
    }
    
    .aa2:hover {
      background-color: #FFE4C4;
      color: white;
    }
.aa3{
       text-align: center;
        float:right;
            width:250px;
            height:300px;
            background-color:#f9fafc;
            
            background: #FFFAF0;
  transition: width 1s, height 2ms;
  transition: 0.3s;
}

.aa3:hover {
  background-color: #FFE4C4;
  color: white;
}
.aa3:hover{
    width: 300px;
  height: 300px;
}
.aa2:hover{
    width: 300px;
  height: 300px;
}
.i1{
    padding-top: 10px;
    

    
    
}
.i2{
    padding-top: 10px;
    
}
.i3{
    padding-top: 10px;
    
    
}
.r1{
    color: black;
    padding-top: 10px;
    padding-bottom: 20px;
}
    
.r2{
    color: grey;
}