.blogHeader12000{
   
     background-image: url('../../assets/c.png');
     padding-left: 370px;
     padding-top:5px;
     padding-bottom: 32px;
     justify-content:space-between;
     padding-right: 150px;
     background-color: rgb(24, 24, 22);
     
    
     color: aliceblue;
     height: 100px;
    
 
 }
 .end{
     

   width: 50%;
     padding-left: 250px;
     padding-top: 20px;

    
    
 }
 .img24{
     width: 8%;
     padding-left: 10px;
    
     
     
     

 }
 .mail{
     padding-left: 255px;
     padding-top: 15px;
     padding-top: 5px;
 }
 .tele{
    padding-left: 255px;
    padding-bottom: 10px;
 }
