.bbb{
    
    color: #ffffff ;
    padding: 200px 50px;
    text-align: center;
    
    
}
.ad1{
    text-align: center;
    padding-left: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    
    

    color:#F0F8FF;
    position: relative;
    
    
  }
  
  @keyframes example {
    0%   {color:#F0F8FF; left:0px; top:0px;}
    25%  {color:#F5F5DC; left:50px; top:0px;}
    50%  {color:#A9A9A9; left:50px; top:200px;}
    75%  {color:#FFFAF0; left:0px; top:200px;}
    100% {color:#808080; left:0px; top:0px;}
  }






