.postTitle{
    letter-spacing: 0.5px;
    text-transform:capitalize;
    font-style: inherit;
    font-size: 19px;
    margin: 0;
    font-weight:100;
  
    
}
.blogCategory1{
    display: block;
    color: grey;
    
    font-size: 20px;
    font-family:"Comic Sans MS ";
    font-style: inherit;
    text-decoration: underline;
    padding-top: 40px;
    padding-bottom: 100px;
    
}