.projet1{
    background-color: rgb(235, 238, 240);
   
    color: grey;
    
  
    padding-top: 30px;
    display: flex;
    justify-content:space-between;
    padding-right: 100px;
    
        
 }
 .img2{
   padding-left: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 60px;
    
    
    transition: width 2s, height 4s;
  }
  
  .img2:hover {
    width: 600px;
    height: 290px;
  
  
 }
 .div1{
   
   padding-left: 5px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 50px;
    width: 50%;
    margin-top: 60px;
    margin-bottom: 30px;
 }
.h11{
    margin-top: 45px;
    font-size: 20px;
}

.b1 {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: grey;
  background-color: rgb(235, 238, 240);;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px white;
  margin-top: 50px;
  
  
}

.b1:hover {background-color: #666}

.b1:active {
  background-color: rgb(235, 238, 240);;
  box-shadow: 0 5px #DCDCDC;
  transform: translateY(4px);
}
