.header{
    display:flex;
    justify-content:space-between;
    margin:25px 15px;
    color: rgb(232, 241, 241);
    height: 80px;
    margin-top: 0px;
    margin-left: 0;
    width: 100%;
    
   position: fixed;
 
   background-image: url("../../assets/c.png");
  
    background-color: rgb(23, 22, 24);
 
    

}


.headerMenu a{
    display: inline-block;
    margin:0 10px;
    text-decoration:none;
    color: rgb(232, 241, 241);
    font-size: 12px;
    letter-spacing: 1.2px;
    background-image: url(../../assets/c.png);
    margin-top: 30PX;
    margin-right: 20px;
    
   

}
.headerMenu a:hover{
    color: #5f9ea0;
    
}
.hometitle{
    margin-left: 0px;
    margin-top: 0px;
}
.imgk110{
    padding-left: 0px;
    margin-left: 1px;
    margin-right: auto;
    width: 31%;
    margin-top: 0px;
    padding-top: 0px;
    
}