
.blogHeader4{
    background-color: rgb(235, 238, 240);
    display: block;
    color: grey;
    font-style: inherit;
    font-size: 30px;
    font-family:"impact";
    
    text-align: center;
    padding-top: 30px;
    
    
}
.de1{
    position: relative;
}
