
.blogCategory14444{
    display: flex;
    padding-left: 0px;
    background-color: white;
    background-color: rgb(235, 238, 240);
    padding-top: 100px;
    padding-right: 150px;
    padding-bottom: 30px;
    display:flex;
    justify-content:space-between;
    
}
.projet333{
    display:flex;
    justify-content:space-between;
    
    background-color: rgb(235, 238, 240);
    
    color: grey;
    
  
    
    display: flex;
    padding-top: 200px;
   
    padding-right: 150px;
    padding-bottom: 105px;
    padding-left: 150px;
        
 }
 .imgf{
    display:flex;
    justify-content:space-between;
    display: flex;
    
    margin-left: 100px;
     width: 120px;
     border-radius: 50%;
     padding-left: 20px;
     
  }
  .insta{
     font-size: 50px;
  }