.blogCategory144{
    display: block;
    color: grey;
    font-style:initial;
    font-size: 20px;
    font-family:"Comic Sans MS ";
    font-style: inherit;
    text-decoration: underline;
    
    padding-bottom: 100px;
   
}
.projet33{
    background-color: rgb(235, 238, 240);
   
    color: grey;
    
  
    
    display: flex;
    text-align: center;
    padding-right: 100px;
    padding-bottom: 25px;
    padding-left: 600px;
 
        
 }