.im{
    
    
    
   
    width: 80%;
    padding-left: 130PX;
}
.im2{
   padding-right: 30px;
  
   
}


.des{
    display: flex;
    background-color: white;
    margin-left: 130PX;
    padding-top: 60PX;
    padding-left: 50PX;
    margin-right: 140PX;
    
}
.imo{
    padding-left: 170px;
    padding-top: 30px;
}
.des1{
    
    background-color: white;
    margin-left: 130PX;
    padding-top: 60PX;
    padding-left: 50PX;
    margin-right: 140PX;
    

    
    
    font-family: Arial, Helvetica, sans-serif;
   



    
}

.pa1{
    color: rgb(155, 155, 167);
}
.pa2{
    
    text-transform:capitalize;
    font-style: inherit;
    
   
    margin: 0;
    font-weight:100;
}
